<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Update Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="m-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'view_collection' mycollection.id%}" class="btn btn-dark my-3">Go Back</a>
                <div class="card">


                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label>Photo Name</label>
                            <input required name="photo_name" type="text" placeholder="Enter Photo Name" value="{{ photo.name }}"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Tags</label>
                            <input required name="photo_tags" type="text" placeholder="Enter Tags" value="{{photo.tags.all|join:","}}"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Latitude</label>
                            <input required name="photo_latitude" type="number" placeholder="Enter Latitude" value="{{ photo.latitude }}"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Longitude</label>
                            <input required name="photo_longitude" type="number" placeholder="Enter Longitude" value="{{ photo.longitude }}"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>DateTime</label>
                            <input required name="photo_datetime" type="date" placeholder="Enter DateTime" value="{{ photo.datetime | date:'c' }}">
                        </div>


                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>